.background-companyProfile{
    background: rgba(0,0,0,0.8) url(../../assets/contact_cover.jpg);
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: 400px;
    opacity: 0.9;
    
}
.company-text{
    padding-top: 10%;
    text-align: center;
}
.company{
    border-bottom: 2px solid #e02828;
    padding:5px 15px;
}
.circle{
    padding: 1px 12px;
    border: 3px solid red;
    border-radius: 20px;
}
.vertical{
    border-left:2px solid green;
    height: 20px;
    padding-bottom:80px;
    margin-left: 14px;
}
.height{
    margin-top: 80px;
}
.company-history{
    color:  #e02828;
}


  body {
    /* padding: 1em; */
    font-family: Arial, sans serif;
    font-size: 14px;
  }

  body::before {
    
    width: 25em;
    height: 30em;
  }
  body::after {
    width: 25em;
    height: 25em;
  }
  
  .timelines {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .timeline-title {
    font-size: 1em;
    font-weight: bold;
  }
  
  .timeline-item {
    margin-bottom: 4em;
  }
  .timeline-item h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    position: relative;
  }
  .timeline-item h1::before {
    content: "";
    position: absolute;
    left: -1.7em;
    background-color: #fe4747;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    transform: translate(-0.5px, 0.2em);
  }
  
  .timeline-items {
    margin: 2em;
    padding: 0.01em 0 3em 2em;
    border-left: 1px solid #fe4747;
  }
  
  .timeline-item {
    margin-top: -0.3em;
  }
  .timeline-item time {
    display: block;
    float: left;
    background-color: #ffebeb;
    padding: 0.2em 0.4em;
  }
  .timeline-item > * {
    margin: 1em 0;
  }
  .timeline-item .location {
    clear: both;
    font-size: 0.85em;
    font-style: italic;
  }
  .mission-align{
    text-align: justify;
  }