   .photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
  }
  
  .photo-wrapper {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo {
    padding-top: 13px;
    width: 80%;
    height: 300px;
    transition: transform 2s;
    border-radius: 10px;
  }
  
  .zoom-in {
    transform: scale(1.1);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .photo-wrapper {
      width: 50%;
    }
  
    .photo {
      width: 100%;
      padding: 20px;
    }
  }
  